* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%;
    width: fit-content; */
}

body {
    width: 100%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-color: lightskyblue;
    background-blend-mode: lighten;

    block-size: fit-content;
    /* box-sizing: border-box; */
    margin: 0;
    /* width: 100%; */
    height: 100vh;
    /* background-size: cover; */
}
/* main {
    width: 20vh;
} */
.Mainbodydiv {
    /* width: 200px; */
    height: auto;
}
.horizontalNav {
    display: flex;
    justify-content: space-between;
    background-image: url("dog5.jpg");
    /* background-size: cover; */
    background-color: lightskyblue;
    background-blend-mode: darken;
    object-fit: cover;
    width: auto;
    border-radius: 80%;
}
nav img {
    width: 6.25em;
    height: 6.25em;
}
.MainBody {
    width: auto;
    background-image: url("dog3.png");
    background-color: lightskyblue;
    background-blend-mode: darken;
    height: 100vh;
}
form {
    display: grid;
    place-items: center;
}

.myModal {
    display: grid;
    place-items: center;
    text-align: center;
}

.LogginClass {
    display: grid;
    place-items: center;
    text-align: center;
}

.uploader {
    display: grid;
    place-items: center;
    text-align: center;
    z-index: 1;
}
.uploader .modalOpen {
    width: 150;
    height: 150;
    background-color: lightblue;
    z-index: 3;
    border-radius: 15px;
}
.uploader .modalOpen:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}
.uploader .overlay {
    display: grid;
    overflow-y: scroll;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    z-index: 2;
}

.profile .profilepic {
    height: 200px;
    width: 200px;
    border-radius: 30%;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-container {
    display: flex;

    align-items: center;
    justify-content: center;
}
.users-container .find-people {
    display: grid;
    place-items: center;
    text-align: center;
}

img {
    border-radius: 50%;
}

/* .horizontalNav .link {
    display: grid;
    place-items: center;
    text-align: center;
    text-decoration: none;
} */
.horizontalNav .horizontalstyling {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 37.5em;
    height: 5em;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    /* border-radius: 30%; */
}
/* .Registration {
    display: grid;
    place-items: center;
    text-align: center;
} */
.Welcome {
    display: grid;
    place-items: center;
    text-align: center;
}

/* .horizontalNav {
    display: flex;
    justify-content: space-between;
    
    transition: 1s;
    background-color: blue;
} */

.Welcome .welcomeImage {
    display: grid;
    place-items: center;
    text-align: center;
    width: 25rem;
    height: 25rem;
    border-radius: 40%;
}

.profile .profile-pic-large {
    width: 15rem;
    height: 15rem;
}
.other_ppp_profile {
    display: grid;
    place-items: center;
    text-align: center;
}

.wannabees {
    display: grid;
    place-items: top;
    /* text-align: center; */
}

.MyFriends {
    display: grid;
    place-items: top;
    /* text-align: center; */
}

.friendsAndWannabees {
    display: flex;
    justify-content: space-evenly;
}
.uploader .modalOpen {
    display: grid;
    place-items: center;
    text-align: center;
}

.horizontalNav .horizontalstyling .link {
    padding: 0.5em;
    text-decoration: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1em;
    font-family: "Inconsolata", monospace;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px mediumslateblue,
        0 0 42px mediumslateblue, 0 0 82px mediumslateblue,
        0 0 92px mediumslateblue, 0 0 102px mediumslateblue,
        0 0 151px mediumslateblue;
}

.chatBoard {
    border: 2px dotted black;
    width: 400px;
}

.users-container .chatBoard .chatMessage .tiny {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Welcome .Registration p {
    font-family: Georgia, "Times New Roman", Times, serif;
    /* font-weight: bolder; */
    font-size: 15px;
}

.Welcome .Registration .registration .submitbtn {
    margin: 10px;
    padding: 8px;
    border: 10px;
    border-radius: 15px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    background-color: #f69d3c;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 30%; */
}
.Welcome .Registration .registration .submitbtn:hover {
    background-color: blue;
    color: white;
    scale: 1.12;
}

.Welcome .LogginClass .Login .Loginbtn {
    margin: 10px;
    padding: 8px;
    border: 10px;
    border-radius: 15px;
    background-color: blue;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Welcome .LogginClass .Login .Loginbtn:hover {
    background-color: orange;
    color: white;
    scale: 1.1;
}

/* @media screen and (max-width: 650px) {
    main {
        width: 100%;
    }
} */

@media screen and (max-width: 500px) {
    .horizontalNav .horizontalstyling .link {
        font-size: 0.55em;
    }
}

@media screen and (max-width: 500px) {
    .Welcome .welcomeImage {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 500px) {
    .profile .profilepic {
        width: 6.25rem;
        height: 6.25rem;
    }
}
/* @media screen and (max-width: 500px) {
    .Mainbodydiv .horizontalNav .loggedPic {
        width: 4rem;
        height: 4rem;
    }
}
@media screen and (max-width: 500px) {
    .Mainbodydiv .horizontalNav .profilepic {
       
        width: 4rem;
        height: 4rem;
    }
} */
